# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# uv
.uv/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# MkDocs
site/

# Editors
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# mypy cache
.mypy_cache/

# ruff cache
.ruff_cache/

# pyright cache
pyrightconfig.json
